[Unit]
Description=irqbalance daemon
Documentation=man:irqbalance(1)
Documentation=https://github.com/Irqbalance/irqbalance
ConditionVirtualization=!container

[Service]
EnvironmentFile=-/usr/lib/irqbalance/defaults.env
EnvironmentFile=-/path/to/irqbalance.env
Type=oneshot
ExecStart=/usr/sbin/irqbalance --oneshot $IRQBALANCE_ARGS
ReadOnlyPaths=/
ReadWritePaths=/proc/irq /var/tmp/pgo
RestrictAddressFamilies=AF_UNIX
RuntimeDirectory=irqbalance/
LimitNOFILE=4096

[Install]
WantedBy=multi-user.target
